.contactUs {
  text-decoration: none;
  position: relative;
  line-height: 50px;
  color: inherit;
}
.contactInfo1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  font-size: var(--font-size-13xl);
}
.emailIcons {
  height: 18.9px;
  width: 28.4px;
  position: relative;
}
.infoiribacreativesrw {
  position: relative;
  white-space: nowrap;
}
.emailDetails {
  width: 224.4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  mix-blend-mode: normal;
  gap: var(--gap-0);
  row-gap: 20px;
}
.vectorIcon {
  height: 23px;
  width: 23px;
  min-height: 23px;
}
.div,
.vectorIcon {
  position: relative;
}
.emailDetails1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
  mix-blend-mode: normal;
}
.locationArrowCircleOIcon {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.kg599Street {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 116px;
  max-width: 100%;
}
.emailInfo,
.location {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  mix-blend-mode: normal;
  max-width: 100%;
}
.location {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
}
.emailInfo {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs);
}
.social {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 53px;
}
.socialTitle {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-xl);
  mix-blend-mode: normal;
}
.accountIcons {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 30px;
}
.exampleacount {
  position: relative;
  line-height: 28px;
}
.accountDetails {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
  mix-blend-mode: normal;
}
.vectorIcon1 {
  width: 24px;
  height: 23.9px;
  position: relative;
}
.vectorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs-1) var(--padding-10xs) var(--padding-11xs);
}
.exampleacount1 {
  position: relative;
  line-height: 28px;
}
.accountDetails1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
  mix-blend-mode: normal;
}
.vectorIcon2 {
  height: 24px;
  width: 30px;
  position: relative;
}
.frame {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.exampleacount2 {
  position: relative;
  line-height: 28px;
}
.accountDetails2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
  mix-blend-mode: normal;
}
.frameIcon {
  height: 24px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.exampleacount3 {
  position: relative;
  line-height: 28px;
}
.accountDetails3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
  mix-blend-mode: normal;
}
.frameIcon1 {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 30px;
}
.exampleacount4 {
  position: relative;
  line-height: 28px;
}
.accountDetails4,
.socialAccounts {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.accountDetails4 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) 0;
  gap: var(--gap-3xs);
}
.socialAccounts {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs);
}
.hours1 {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 51px;
}
.hoursDetails {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  mix-blend-mode: normal;
}
.uhr,
.uhr1 {
  margin: 0;
}
.uhr1300Container1 {
  width: 100%;
}
.uhr1300Container {
  height: 54px;
  width: 227px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hoursDetails1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-base);
  color: var(--gray-100);
}
.contactInfoContainer,
.hours {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
}
.hours {
  align-self: stretch;
  padding: var(--padding-3xs);
}
.contactInfoContainer {
  width: 450px;
  border-radius: var(--br-mini);
  background-color: var(--color-sienna-100);
  flex-shrink: 0;
  padding: var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 450px;
  max-width: 100%;
}
.keepInTouch {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 400;
  font-family: inherit;
}
.weWouldLove {
  margin: 0;
}
.weWouldLoveContainer {
  align-self: stretch;
  height: 168px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 28px;
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
}
.formContainer {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.name {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 35px;
}
.inputFields,
.textFieldLight {
  align-self: stretch;
  display: flex;
}
.textFieldLight {
  border-radius: var(--br-8xs);
  background-color: var(--white);
  border: 1.6px solid var(--color-sienna-100);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-33xl) var(--padding-9xs)
    var(--padding-xl);
  gap: var(--gap-0);
  row-gap: 20px;
}
.inputFields {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 32px;
}
.inputFields1,
.textFieldLight1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.textFieldLight1 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--white);
  border: 1.6px solid var(--color-sienna-100);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-33xl) var(--padding-9xs)
    var(--padding-xl);
  gap: var(--gap-0);
  row-gap: 20px;
}
.inputFields1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.subject {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 48px;
}
.inputFields2,
.textFieldLight2 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.textFieldLight2 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--white);
  border: 1.6px solid var(--color-sienna-100);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-33xl) var(--padding-9xs)
    var(--padding-xl);
  gap: var(--gap-0);
  row-gap: 20px;
}
.inputFields2 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit,
.textAreaLight {
  font-family: var(--font-space-grotesk);
}
.textAreaLight {
  border: 1.6px solid var(--color-sienna-100);
  background-color: var(--white);
  height: 277.5px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi-8) var(--padding-xs);
  font-size: var(--font-size-smi-8);
  color: var(--body-light);
}
.submit {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  color: var(--white);
  text-align: left;
  min-width: 62px;
}
.buttonSubmit {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-sienna-100);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonSubmit:hover {
  background-color: var(--color-salmon);
}
.form,
.textAreaLightParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.form {
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-lgi);
  max-width: 100%;
  font-size: var(--font-size-smi-8);
  color: var(--body-light);
}
.contactInfo,
.formContainerParent {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.formContainerParent {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  min-width: 429px;
  font-size: var(--font-size-13xl);
  color: var(--color-sienna-100);
}
.contactInfo {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-95xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 1050px) {
  .contactInfoContainer {
    flex: 1;
  }
  .contactInfo {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1000px) {
  .contactUs,
  .keepInTouch {
    font-size: var(--font-size-7xl);
    line-height: 40px;
  }
}
@media screen and (max-width: 725px) {
  .contactInfoContainer,
  .formContainerParent {
    min-width: 100%;
  }
  .contactInfo {
    gap: var(--gap-38xl);
  }
}
@media screen and (max-width: 450px) {
  .contactUs {
    font-size: var(--font-size-lgi);
    line-height: 30px;
  }
  .location {
    flex-wrap: wrap;
  }
  .keepInTouch {
    font-size: var(--font-size-lgi);
    line-height: 30px;
  }
  .contactInfo {
    gap: var(--gap-9xl);
  }
}
