.footer {
  background-color: var(--color-darkslategray);
  color: var(--color-darkgray-100);
  font-family: var(--font-space-grotesk);
  padding: var(--padding-21xl);
  text-align: left;
  font-size: var(--font-size-lg);
  width: 100%;
}

.upperFooter,
.lowerFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--padding-81xl);
}

.companyInfo,
.footerNavigation,
.emailSubscription {
  flex: 1;
  margin-bottom: var(--gap-41xl);
}

.vectorWrapper {
  margin-bottom: var(--gap-3xs);
}

.vectorIcon {
  width: 236px;
  height: 74px;
}

.directions p,
.emailSubscription p,
.footerNavigation a {
  margin: var(--gap-3xs) 0;
}

.footerNavigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerNavigation a {
  color: var(--color-darkgray-100);
  text-decoration: none;
  font-weight: bold;
}

.footerNavigation a:hover {
  text-decoration: underline;
}

.emailSubscription .subscriptionForm {
  display: flex;
  align-items: center;
  gap: var(--gap-3xs);
}

.lowerFooter {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-81xl);
}

.iribaCreativesAll {
  margin: 0;
}

.footerIcons {
  display: flex;
  gap: var(--gap-3xs);
}

.footerIcons a {
  margin: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 960px) {
  .upperFooter,
  .lowerFooter {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 40px;
  }

  .footerNavigation {
    display: none;
  }

  .companyInfo {
    margin-bottom: 10px;
  }

  .footerNavigation,
  .emailSubscription {
    margin-bottom: var(--gap-21xl);
  }
}

@media screen and (max-width: 450px) {
  .upperFooter,
  .lowerFooter {
    padding: 0 20px;
  }

  .companyInfo {
    margin-bottom: 10px;
  }

  .footer {
    padding: var(--padding-21xl) 20px;
  }
}
