.cascadeIcon,
.harambeIcon,
.khweziIcon,
.quickHomesIcon {
  width: 238px;
  position: relative;
  height: 57px;
  overflow: hidden;
  flex-shrink: 0;
}
.cascadeIcon,
.khweziIcon,
.quickHomesIcon {
  width: 175px;
  height: 77px;
}
.cascadeIcon,
.quickHomesIcon {
  width: 196px;
  height: 65px;
}
.quickHomesIcon {
  width: 175px;
  height: 77px;
}
.groupIcon,
.groupIcon1 {
  width: 157px;
  position: relative;
  height: 45.6px;
}
.groupIcon1 {
  width: 99px;
  height: 11.3px;
}
.harambeParent,
.nara {
  display: flex;
  align-items: center;
}
.nara {
  width: 157px;
  height: 65px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.harambeParent {
  align-self: stretch;
  height: 163px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
}
.atIribaCreatives {
  align-self: stretch;
  position: relative;
}
.ourClients {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-61xl);
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 960px) {
  .harambeParent {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .harambeIcon,
  .khweziIcon {
    width: 222px;
    height: 53px;
    margin-bottom: 10;
  }
  .khweziIcon {
    width: 172px;
    height: 76px;
  }
  .cascadeIcon,
  .quickHomesIcon {
    width: 172px;
    height: 57px;
    margin-bottom: 10;
  }
  .groupIcon {
    width: 121px;
    height: 35px;
  }
  .groupIcon1 {
    width: 179px;
    height: 20px;
  }
  .harambeParent,
  .nara {
    width: auto;
    align-self: unset;
    height: auto;
  }
  .harambeParent {
    align-self: stretch;
    flex-direction: column;
  }
  .atIribaCreatives {
    text-align: center;
  }
  .ourClients {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
