.harambeParent {
  align-self: stretch;
  height: 163px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
}
.atIribaCreatives {
  align-self: stretch;
  position: relative;
}
.ourClients {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl) var(--padding-61xl);
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 960px) {
  .harambeParent {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
