.projectImagesIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.portfolioTitle {
  position: relative;
}

.portfolioTask {
  margin: 0;
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--white);
  text-align: center;
}

.project,
.projectDetail {
  display: flex;
  flex-direction: column;
}
.projectDetail {
  align-self: stretch;
  background-color: var(--color-black);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xl) var(--padding-xl);
  gap: var(--gap-lgi);
  min-height: 140px;
}
.project {
  height: auto; /* Allow the height to adjust */
  width: 100%; /* Make the width 100% of the container */
  max-width: 700px;
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-sienna-100);
  font-family: var(--font-space-grotesk);
  margin-bottom: 20px;
}
@media screen and (max-width: 750px) {
  .project {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .projectImagesIcon {
    min-width: 100%; /* Ensure the image takes the full width on very small screens */
  }
}
